    <h1 class="mt-3 mb-3">Cadastro de Usuário</h1>
    <div class="row">
        <div class="col-8 mt-3 mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="nome" placeholder="Nome" required>
                    <label for="nome">Nome</label>
                </div>
                <div class="invalid-feedback">
                    Por favor, informe seu nome.
                </div>
            </div>
        </div>
        <div class="col-4 mt-3 mb-3">
            <div class="form-floating">
                <select class="form-select" id="ocupacao" aria-label="Floating label select example">
                    <option value="" selected disabled>Selecione:</option>
                    <option value="1">Gestor(a)</option>
                    <option value="2">Bibliotecário(a)</option>
                    <option value="3">Professor(a)</option>
                </select>
                <label for="ocupacao">Ocupação: </label>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-regular fa-address-card"></i></span>
                <div class="form-floating">
                    <input type="number" class="form-control" id="matricula" placeholder="Matrícula" required>
                    <label for="matricula">Matrícula</label>
                </div>
                <div class="invalid-feedback">
                    Por favor, informe sua matrícula.
                </div>
            </div>
        </div>
        <div class="col-8 mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-envelope-open"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="email" placeholder="E-mail" required>
                    <label for="email">e-mail</label>
                </div>
                <div class="invalid-feedback">
                    Por favor, informe seu e-mail para receber a senha.
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-primary" id="enviar">Cadastrar</button>